<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=.;Initial Catalog=Northwind;User &#xD;&#xA;       ID=sa;Password=123@qaz;"
      providerName="System.Data.SqlClient" />
    <add name="Reporte.Properties.Settings.Prueba_ReporteConnectionString"
      connectionString="Data Source=MOFS10\PDM;Initial Catalog=Prueba_Reporte;User ID=sa;Password=Modasa2017"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>